@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto; /* 가로 중앙 정렬을 위해 margin 속성을 사용 */
  display: flex;
  justify-content: center; /* 내용을 수평으로 중앙 정렬 */
  align-items: center;
}

.custom-close-button {
  position: absolute;
  display: block;
  top: 0px; /* 원하는 위치로 조정 */
  right: 0px; /* 원하는 위치로 조정 */
}

.custom-confirm-button {
  width: 100px;
}

.custom-cancle-button {
  margin-left: 20px;
  width: 100px;
}

.swal2-container {
  margin: 0 auto; /* 가로 중앙 정렬을 위해 margin 속성을 사용 */
  display: flex;
  justify-content: center;
  max-width: 500px;
}

.userVideo {
  height: calc((100% - 84px) / 2);
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}
