@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto; /* 가로 중앙 정렬을 위해 margin 속성을 사용 */
  display: flex;
  justify-content: center; /* 내용을 수평으로 중앙 정렬 */
  align-items: center;
}

.tier-item {
  background-color: #e7e0ec;
  padding: 8px 15px;
  border-radius: 10px;
  display: flex;
  vertical-align: middle;
}

.tier-image {
  width: 38px;
  height: 38px;
  margin-right: 12px;
}

.tier-text {
  display: inline-block;
  margin: auto 0;
}

.tier-title {
  font-size: 14px;
  font-weight: 600;
}

.custom-close-button {
  position: absolute;
  display: block;
  top: 0px; /* 원하는 위치로 조정 */
  right: 0px; /* 원하는 위치로 조정 */
}

.custom-confirm-button {
  width: 100px;
}

.custom-cancle-button {
  margin-left: 20px;
  width: 100px;
}

.swal2-container {
  margin: 0 auto; /* 가로 중앙 정렬을 위해 margin 속성을 사용 */
  display: flex;
  justify-content: center;
  max-width: 500px;
}
